@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-dark: #111727 !important;

  --colour-primary-900: 3 18 38;
  --colour-primary-800: 10 34 67;
  --colour-primary-700: 14 46 89;
  --colour-primary-600: 14 59 120;
  --colour-primary-500: 29 83 155;
  --colour-primary-400: 57 115 194;
  --colour-primary-300: 89 150 230;
  --colour-primary-200: 147 192 253;
  --colour-primary-100: 201 223 254;
  --colour-primary-50: 201 223 254;

  --colour-green-900: 30 81 21;
  --colour-green-800: 44 97 36;
  --colour-green-700: 57 111 48;
  --colour-green-600: 71 126 62;
  --colour-green-500: 96 147 88;
  --colour-green-400: 129 172 122;
  --colour-green-300: 164 199 158;
  --colour-green-200: 194 222 190;
  --colour-green-100: 221 238 218;
  --colour-green-50: 246 250 246;

  --colour-red-900: 127 29 29;
  --colour-red-800: 153 27 27;
  --colour-red-700: 185 28 28;
  --colour-red-600: 220 38 38;
  --colour-red-500: 239 68 68;
  --colour-red-400: 248 113 113;
  --colour-red-300: 252 165 165;
  --colour-red-200: 254 202 202;
  --colour-red-100: 254 226 226;
  --colour-red-50: 255 247 237;

  --colour-yellow-900: 113 63 18;
  --colour-yellow-800: 133 77 14;
  --colour-yellow-700: 161 98 7;
  --colour-yellow-600: 202 138 4;
  --colour-yellow-500: 234 179 8;
  --colour-yellow-400: 250 204 21;
  --colour-yellow-300: 253 224 71;
  --colour-yellow-200: 254 240 138;
  --colour-yellow-100: 254 249 195;
  --colour-yellow-50: 254 252 232;

  --colour-grey-900: 15 23 42;
  --colour-grey-800: 30 41 59;
  --colour-grey-700: 51 65 85;
  --colour-grey-600: 71 85 105;
  --colour-grey-500: 100 116 139;
  --colour-grey-400: 148 163 184;
  --colour-grey-300: 203 213 225;
  --colour-grey-200: 226 232 240;
  --colour-grey-100: 241 245 249;
  --colour-grey-50: 248 250 252;
}

.my-theme {
  --colour-primary-900: 15 23 42;
  --colour-primary-800: 30 41 59;
  --colour-primary-700: 51 65 85;
  --colour-primary-600: 71 85 105;
  --colour-primary-500: 100 116 139;
  --colour-primary-400: 148 163 184;
  --colour-primary-300: 203 213 225;
  --colour-primary-200: 226 232 240;
  --colour-primary-100: 241 245 249;
  --colour-primary-50: 248 250 252;
}

html,
body {
  @apply bg-primary-50;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html.dark,
.dark body {
  @apply bg-primary-900;
}
